<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Galaxy 20</mat-card-title>
                <mat-card-subtitle>Phones</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="src\assets\archi.jpg" alt="">
            <mat-card-content>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse officia, veritatis, consequuntur,
                    dolorum facilis sint repudiandae cumque est quos ducimus ipsam mollitia cupiditate blanditiis
                    corporis illum laudantium tempore perspiciatis corrupti?
                </p>
            </mat-card-content>
            <!-- <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
            </mat-card-actions> -->
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Galaxy 20</mat-card-title>
                <mat-card-subtitle>Phones</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="src\assets\archi.jpg" alt="">
            <mat-card-content>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse officia, veritatis, consequuntur,
                    dolorum facilis sint repudiandae cumque est quos ducimus ipsam mollitia cupiditate blanditiis
                    corporis illum laudantium tempore perspiciatis corrupti?
                </p>
            </mat-card-content>
            <!-- <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
            </mat-card-actions> -->
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Galaxy 20</mat-card-title>
                <mat-card-subtitle>Phones</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="src\assets\archi.jpg" alt="">
            <mat-card-content>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse officia, veritatis, consequuntur,
                    dolorum facilis sint repudiandae cumque est quos ducimus ipsam mollitia cupiditate blanditiis
                    corporis illum laudantium tempore perspiciatis corrupti?
                </p>
            </mat-card-content>
            <!-- <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
            </mat-card-actions> -->
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Galaxy 20</mat-card-title>
                <mat-card-subtitle>Phones</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="src\assets\archi.jpg" alt="">
            <mat-card-content>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse officia, veritatis, consequuntur,
                    dolorum facilis sint repudiandae cumque est quos ducimus ipsam mollitia cupiditate blanditiis
                    corporis illum laudantium tempore perspiciatis corrupti?
                </p>
            </mat-card-content>
            <!-- <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
            </mat-card-actions> -->
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>