<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
        <mat-card class="example-card">
            <img mat-card-image src="src\assets\archi.jpg" alt="">
            <mat-card-content>
                <mat-tab-group animationDuration="0ms" headerPosition="below">
                    <mat-tab label="First">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem ipsam beatae molestiae sunt?
                        Voluptatibus error at numquam molestiae illo voluptas corrupti consequuntur minima laboriosam odit eius,
                        doloremque quaerat earum sint!
                    </mat-tab>
                    <mat-tab label="Second">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint aliquam recusandae optio ratione tenetur magnam
                        quaerat odit iste. Aut, inventore aperiam quaerat sint quisquam beatae consequatur accusamus dolorum
                        perspiciatis aliquid?
                    </mat-tab>
                </mat-tab-group>
            </mat-card-content>
        
            <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
